<!-- Hedaing -->
<div class="">
    <p style="font-size: xx-large;  text-align: center;">Account Statement</p>
</div>

<div class="text-center">
    <p >{{date | date:'short'}}</p>
</div>

<!-- Buttons -->
<div class="btn-group" role="group" aria-label="Basic outlined example">
    <button (click)="filterData('')" type="button" class="btn btn-outline-primary">All</button>
    <button (click)="filterData('DEBIT')" type="button" class="btn btn-outline-danger">Deibit</button>
    <button (click)="filterData('CREDIT')" type="button" class="btn btn-outline-success">Credit</button>
</div>

<!-- spinner -->
<div *ngif="spinner" class="mt-2 text-center" style="color: rgb(22, 63, 49);">
    <i class="fa-solid fa-spinner fa-spin-pulse fa-2x"></i>
</div>

<!-- Table -->
<div *ngIf="!spinner" class="mt-5">
    <table  class="table">
        <!-- Table Head -->
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Type</th>
                <th scope="col">Amount</th>
                <th scope="col">Account Number</th>
                <th scope="col">Date</th>

            </tr>
        </thead>
        <!-- Table Body -->
        <tbody>
            <!-- Filter -->
            <!-- data|pipeName:searchString:searchKey -->
            <tr *ngFor="let i of transactionArray | filter: searchTerm :'type', let j=index">
                <th scope="row">{{j+1}}</th>
                <td>{{i.type}}</td>
                <td>{{i.amount}}</td>
                <td>{{i.tacno}}</td>
                <td>{{i.date}}</td>
            </tr>
          
        </tbody>
    </table>

</div>

<!-- Buttons -->

    <!-- Export Button Home Button -->

    <div class="d-grid gap-2 col-6 mx-auto mt-5" >
        <button (click)="pdfExport()" class="btn btn-outline-info" style="border-radius: 100px;" type="button">Export as PDF <i class="fa-regular fa-file-pdf fa-1x"></i></button>
        <button (click)="backtoHome()" class="btn btn-outline-warning mt-3" style="border-radius: 100px;" type="button">Home    <i class="fa-solid fa-house"></i></button>
      </div>


